# Ignore Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env/

# Ignore model files if they are large or will be re-trained
model.pkl

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific folders
.vscode/
.idea/
